@model Product_Category
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span><i class="icon-table"></i>Manage Images for Style @Model.Name</span>
    </div>
    <div class="mws-panel-toolbar">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="@Url.Action("Add_Image", "ProductCategory", new { pcId = Model.Id })" class="btn">
                    <i class="icol-add"></i>Add
                </a>
            </div>
        </div>
    </div>
    <div class="mws-panel-body no-padding WDTB_Group list-product-category-image">
        @Html.Action("List_Image", "ProductCategory", new { pcId = Model.Id })
    </div>
</div>