@model List<Product_Category>
<script type="text/javascript">
    $(document).ready(function () {
        $("a.delete").click(function () {
            var $this = $(this);
            var NameItem = $this.attr("item_name");
            var item_id = $this.attr("item_id");
            if (confirm("Are you sure to delete " + NameItem + "")) {
                show_loading();
                $.get("@Url.Action("Delete")?id=" + item_id, function () {
                    PageTable_Reload();
                });
            }
        });

        jQuery(".btnDown, .btnUp").click(function(){
            var val=jQuery(this).attr("item_id");
            var dir=0;
            if (jQuery(this).hasClass("btnDown"))
            {
                dir=1;
            }

            show_loading();
            // and post
            jQuery.post("@Url.Action("Move")"+"?id="+val+"&direction="+dir, function (returnObj) {

                if (returnObj.Status == "success") {
                    if (returnObj.Message != null) {
                        notify_success("Success", returnObj.Message);
                    }
                } else {
                    $.pnotify({
                        title: 'Error',
                        text: returnObj.Message,
                        type: 'error',
                        opacity: .8
                    });
                }

                hide_loading();
                PageTable_Reload();
            });

            return false;
        });

        // build table layout
        if( $.fn.dataTable ) {
            $("#ListTable").dataTable({
                "bSort": true,
                "sDom": 'C<"">lfrtip',
                "oColVis": {
                    "buttonText": "<i class='icol-accept'></i> Change columns",
                    "bRestore": false,
                    "sSize": "css"
                },
                "aoColumnDefs": [
			        //{ "bVisible": false, "aTargets": [4, 5, 6, 7] }
		         ],
                sPaginationType: "full_numbers",
                "aLengthMenu": [30, 50, 100]
            });
        }
    });

</script>
<div class="mws-panel-header">
    <span><i class="icon-table"></i>Manage Styles</span>
</div>
<div class="mws-panel-body no-padding ">
    <table class="mws-table" id="ListTable">
        <thead>
            <tr>
                <th>
                    Thumbnail
                </th>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Created By
                </th>
                <th id="date_Create_column">
                    Created On
                </th>
                <th width="100px">
                    Actions
                </th>
            </tr>
        </thead>
        @if (Model.Count() > 0)
        {
            <tbody>
                @foreach (var item in Model.Where(m => m.ParentId == 0).OrderBy(m => m.OrderIndex))
                {
                    var vd = new ViewDataDictionary();
                    vd.Add("Nav", Model);
                    vd.Add("deep", 0);
                    
                    @Html.Partial("_List_NavigationRow", item, vd);
                }
            </tbody>
        }
    </table>
</div>
