@model ABUserAuth
@{
    Layout = "~/Themes/Photobookmart/Views/Shared/_Layout.Navigation.Sidebar.cshtml";
    
    ViewBag.Title = "Forgot Password";
}
@section _TitleMain {
    <a href='@Url.Action("ForgotPassword", "Home", new { })' rel='forgot-password' title='Permanent Link: Forgot Password'>Forgot Password</a>
}
@section _TrailLink {
    <a href="/" rel="/" title="Home" class="trail-begin">Home</a> <span class="sep">&raquo;</span>
    <span class="trail-end">Forgot Password</span>
}
<form id="frmForgotPassword" name="frmForgotPassword" action="/Home/ForgotPasswordSubmit" method="post" enctype="multipart/form-data" class="ab-form ab-forgot-password">
    <div class="ab-title display-none">
        <h2>Forgot Password</h2>
    </div>
    @if (ViewBag.Error != null)
    {
        <div class="ab-error">
            @ViewBag.Error
        </div>
    }
    <div>
        <span>Email<span class="ab-required">*</span></span>
        @Html.TextBoxFor(m => m.Email, new { @class="ab-textbox" })
    </div>
    <div class="ab-action align-right">
        <button type="submit" class="ab-submit">Submit</button>
        <button type="reset" class="ab-reset">Reset</button>
    </div>
</form>

<script>
    jQuery(document).ready(function ($) {
        
        if ($("#frmForgotPassword").length != 0) {

            $("#frmForgotPassword").on("submit", function (e) {

                if ($(this).find("input[name='Email']").val() == "") {

                    alert("Please enter all required fields.");

                    return false;
                }

                if (!/^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test($(this).find("input[name='Email']").val())) {

                    alert("Email format is not valid.");

                    return false;
                }
            });
        }
    });
</script>