@{
    Layout = "~/Themes/Photobookmart/Views/Shared/_Layout.Navigation.Full.cshtml";

    ViewBag.Title = "Help";    
}
@section _TitleMain {
    <a href='/help' rel='contact-us' title='Permanent Link: Help'>Help</a>
}
@section _TrailLink {
    <a href="/" rel="/" title="Home" class="trail-begin">Home</a> <span class="sep">&raquo;</span>
    <span class="trail-end">Help</span>
}
<div class="tabcontainer tab_initial_open  tab_initial_open__1">
    <div class="tab">
        Vouchers Redemption</div>
    <div class="tab_content">
        <p>
            Questions:</p>
        <ol>
            <li><a href="#voucher01">My voucher does not work</a></li>
            <li><a href="#voucher02">Can I combine my orders and ship them together?</a></li>
            <li><a href="#voucher03">I have few vouchers, can I order multiple books at once?</a></li>
            <li><a href="#voucher04">My vouchers have expired, can I use them again?</a></li>
            <li><a href="#voucher05">I do not have securities codes in my voucher.</a></li>
            <li><a href="#voucher06">Not sure how to redeem my voucher.</a></li>
            <li><a href="#voucher07">I redeemed a photo book with my voucher, why am I being charged
                again?</a></li>
        </ol>
        <p>
            <strong>Answers:</strong></p>
        <ol>
            <ol>
                <li><a id="voucher01" name="voucher01"></a><strong>Check the validity of your voucher,
                    it is likely that the redemption has not started. Your voucher may have expired,
                    hence our system can’t accept your voucher codes. You may email your voucher to
                    <a href="mailto:customerservice@photobookmart.com">customerservice@photobookmart.com</a>
                    if you voucher remains valid.</strong></li>
                <li><a id="voucher02" name="voucher02"></a><strong>Our photo books are shipped by professional
                    courier service provider, we are unable to combine your orders and ship at once.
                    Your book is packed in an individual box and the courier services will charge based
                    on per box basis.</strong></li>
                <li><a id="voucher03" name="voucher03"></a><strong>Our system can only accept 1 voucher
                    at a time. You need to place multiple orders.</strong></li>
                <li><a id="voucher04" name="voucher04"></a><strong>Kindly email your vouchers (PDF)
                    to customerservice@photobookmart.com</strong></li>
                <li><a id="voucher05" name="voucher05"></a><strong>You may key in your voucher code
                    as security code</strong></li>
                <li><a id="voucher06" name="voucher06"></a><strong>Click on redemption guide below:
                    <a href="http://www.photobookmart.com/steps.pdf">http://www.photobookmart.com/steps.pdf</a></strong></li>
                <li><a id="voucher07" name="voucher07"></a><strong>It is likely that you’ve selected
                    a photo book that carries a higher price than your voucher’s value. You may refer
                    to our website in your respective country for the price list.</strong></li>
            </ol>
        </ol>
    </div>
    <div class="tab">
        Software</div>
    <div class="tab_content">
        <p>
            Questions:</p>
        <ol>
            <li><a href="#software01">I am not familiar with designing work, is it difficult for
                me to work with your software?</a></li>
            <li><a href="#software02">Where do I select the type of paper &amp; colour my photo
                book?</a></li>
            <li><a href="#software03">What kind of picture formats can i use for my photo book?</a></li>
            <li><a href="#software04">How do i upload my photos to the software?</a></li>
            <li><a href="#software05">How do I put my photos on the page?</a></li>
            <li><a href="#software06">What is the best resolution for photos in my photo book?</a></li>
            <li><a href="#software07">How do I know if my photos are of the minimum required resolution?</a></li>
            <li><a href="#software08">What if the resolution of my photos is below the minimum requirement?</a></li>
            <li><a href="#software09">I can’t upload my photos on to the software. What should I
                do?</a></li>
            <li><a href="#software10">Does Photo Book Editor come with image-enhancing features?</a></li>
            <li><a href="#software11">If I delete or alter my photos on photobook editor, will it
                affect the original photo?</a></li>
            <li><a href="#software12">Can I change the size of my photo book while I’m halfway designing
                it?</a></li>
            <li><a href="#software13">How do I add more pages to my photo book?</a></li>
            <li><a href="#software14">Can I insert a page in between two pages I’ve previously created?</a></li>
            <li><a href="#software15">Will the photos I’ve uploaded onto photobook editor disappear
                when I close the program?</a></li>
            <li><a href="#software16">Do I have to remain connected to the Internet to design my
                photo book?</a></li>
        </ol>
        <p>
            <strong>Answers:</strong></p>
        <ol>
            <ol>
                <li><strong><a id="software01" name="software01"></a>I am not familiar with designing
                    work, is it difficult for me to work with your software?</strong><br />
                    Our software is designed to be used by everybody, no prior knowledge in design software
                    is required.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software02" name="software02"></a>Where do I select the type of paper
                    &amp; colour my photo book?</strong><br />
                    As you proceed with ordering your photo book, these options are available for your
                    selection on the payment page.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software03" name="software03"></a>What kind of picture formats can
                    i use for my photo book?</strong></li>
            </ol>
        </ol>
        <blockquote>
            <ul>
                <li>RGB, CMYK or Grayscale JPEG</li>
                <li>RGB, CMYK or Grayscale TIFF</li>
                <li>PNG images</li>
            </ul>
        </blockquote>
        <blockquote>
            <p>
                <a href="#softwaretop">
                    <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                        border="0" />
                    Back to top</a></p>
        </blockquote>
        <ol>
            <ol>
                <li><strong><a id="software04" name="software04"></a>How do i upload my photos to the
                    software?</strong><br />
                    Look for the Add Images icon + at the bottom left panel. Once you click on it, a
                    window will pop-up, prompting you to select the folder where your photos are stored.
                    Select the folder, then your choice of photos and click ‘OK’. You can also click
                    on the Select All button at the top left corner if you would like all the photos
                    to be uploaded.Or if you have a full folder of pictures which you would like to
                    upload, then click on the Add Folder with Images. All your photos are now ready
                    to be placed in to your photo book.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software05" name="software05"></a>How do I put my photos on the page?</strong><br />
                    Your photos will first appear as thumbnails at the bottom panel on Photo Book Editor.
                    To place them in your photo book, just drag and drop them on to your desired page
                    and position.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software06" name="software06"></a>What is the best resolution for
                    photos in my photo book?</strong><br />
                    photobookmart recommends using resolution of 240dpi and above. If your photos are
                    of a lower resolution, they may appear blurred or pixelated in the finished product.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software07" name="software07"></a>How do I know if my photos are
                    of the minimum required resolution?</strong><br />
                    In your photo folder, right-click on the selected image, choose Properties &gt;
                    Details. Look for the ‘Horizontal Resolution’ and ‘Vertical Resolution’. You can
                    then see if your photo meets the minimum requirement of 240dpi.You will then see
                    an additional bar just above your photo book thumbnails. If you mouse over each
                    square shown, you will be able to see what errors exist on every page – including
                    low resolution photos.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software08" name="software08"></a>What if the resolution of my photos
                    is below the minimum requirement?</strong><br />
                    Unless you are well-versed with photo enhancing software such as Photoshop, we recommend
                    for you to retake the photo or simply use another alternative.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software09" name="software09"></a>I can’t upload my photos on to
                    the software. What should I do?</strong><br />
                    Check if your images match the following requirements.</li>
            </ol>
        </ol>
        <blockquote>
            <ul>
                <li>JPEG, TIFF or PNG formats. PNGs should be 8-bit and non-interlaced</li>
                <li>sRGB colour (no CMYK nor Grayscale nor Adobe 1998 RGB)</li>
                <li>If you’re using iPhoto, ensure that your photo library has its default name and
                    is saved in its default location</li>
                <li>150 to 300 dpi in resolution</li>
            </ul>
            <p>
                P/s: You can check the above details by right clicking on the selected image and
                then selecting Properties.<br />
                If you’re still facing problems, do get in touch with our Customer Service Department.</p>
        </blockquote>
        <blockquote>
            <p>
                <a href="#softwaretop">
                    <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                        border="0" />
                    Back to top</a></p>
        </blockquote>
        <ol>
            <ol>
                <li><strong><a id="software10" name="software10"></a>Does Photo Book Editor come with
                    image-enhancing features?</strong><br />
                    You can perform basic enhancements on your photos with Photo Book Editor such as
                    zooming in and out on a particular portion, moving away unattractive portions or
                    backgrounds, improving picture brightness and vibrance, adding a sepia or black
                    and white effect on them and more.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software11" name="software11"></a>If I delete or alter my photos
                    on photobook editor, will it affect the original photo?</strong><br />
                    No. They will only appear deleted, altered or enhanced on the software, not on the
                    original file.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software12" name="software12"></a>Can I change the size of my photo
                    book while I’m halfway designing it?</strong><br />
                    Unfortunately, you can’t. If you wish to have another size, you will need to start
                    another new project.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software13" name="software13"></a>How do I add more pages to my photo
                    book?</strong><br />
                    Click on Insert &gt; Append New Page. The new pages will be added from the last
                    page onwards. You can also find this command when you right-click on the page.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software14" name="software14"></a>Can I insert a page in between
                    two pages I’ve previously created?</strong><br />
                    Not a problem! Just click on Insert &gt; Insert New Page.</p>
                    <blockquote>
                        <p>
                            <a href="#softwaretop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="software16" name="software15"></a>Will the photos I’ve uploaded onto
                    photobook editor disappear when I close the program?</strong><br />
                    As long as you save your project before closing, no.</li>
            </ol>
        </ol>
        <blockquote>
            <p>
                <a href="#softwaretop">
                    <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                        border="0" />
                    Back to top</a></p>
        </blockquote>
        <ol>
            <li><strong><a id="software17" name="software16"></a>Do I have to remain connected to
                the Internet to design my photo book?</strong><br />
                You don’t have to be connected to the Internet unless you want to place your order
                or refer to the photobookmart website.</li>
        </ol>
    </div>
    <div class="tab">
        Design</div>
    <div class="tab_content">
        <p>
            Questions:</p>
        <ol>
            <li><a href="#design01">Do you provide services like helping customers to make amendments
                to their files?</a></li>
            <li><a href="#design02">Can I choose the colour of my photo book cover too?</a></li>
            <li><a href="#design03">What is considered one page? A spread of both sides or just
                one side?</a></li>
            <li><a href="#design04">How do I put my photos on the page?</a></li>
            <li><a href="#design05">How many photos can I put inside my book?</a></li>
            <li><a href="#design06">How do I change the size of a photo I’ve placed on a page?</a></li>
            <li><a href="#design07">How do I zoom in and out on a particular portion of my photo?</a></li>
            <li><a href="#design08">How do I move unattractive portions or backgrounds on my photo
                away?</a></li>
            <li><a href="#design09">How do I improve picture brightness and vibrance?</a></li>
            <li><a href="#design10">How do I change my photos to a sepia or black and white colour
                tone?</a></li>
            <li><a href="#design11">What does the Fade command do?</a></li>
            <li><a href="#design12">I wish to add borders around my photos. How do I do it?</a></li>
            <li><a href="#design13">How do I remove the borders then?</a></li>
            <li><a href="#design14">Can I add a shadow behind my photos?</a></li>
            <li><a href="#design15">Can I change the orientation of my photos or make them slanted?</a></li>
            <li><a href="#design16">How do I change the position of my photos / captions?</a></li>
            <li><a href="#design17">I don’t like one of the photos I’ve placed on to my photo book.
                How do I remove it?</a></li>
            <li><a href="#design18">I don’t remember which photos I’ve used or placed on to my photo
                book. How do I avoid accidentally repeating the same photo?</a></li>
            <li><a href="#design19">How do I remove all the photos displayed on the thumbnail panel?</a></li>
            <li><a href="#design20">How do I include text into pages of my book?</a></li>
            <li><a href="#design21">How do I adjust the font type, size, colour etc?</a></li>
            <li><a href="#design22">How come I only see a portion of my text after changing the
                font size?</a></li>
            <li><a href="#design23">What if I made a mistake whilst designing my photo book?</a></li>
            <li><a href="#design24">I’m not happy with the page arrangements in my book. How do
                I change it?</a></li>
            <li><a href="#design25">How do I add or change the page backgrounds?</a></li>
            <li><a href="#design26">Is it possible to print the title of my album on the book’s
                spine?</a></li>
            <li><a href="#design27">Can I save my photo book and finish designing it later?</a></li>
        </ol>
        <p>
            <strong>Answers:</strong></p>
        <ol>
            <ol>
                <li><strong><a id="design01" name="design01"></a>Do you provide services like helping
                    customers to make amendments to their files?</strong><br />
                    Because we receive many files every day, we are unable to help customers to make
                    amendments to the files submitted. It is your responsibility to ensure the files
                    are 100% good for printing before placing your orders.</p>
                    <blockquote>
                        <p>
                            <a href="#designtop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="design02" name="design02"></a>Can I choose the colour of my photo
                    book cover too?</strong><br />
                    Definitely! Click here to see what colours can be incorporated into your photo book
                    cover.</p>
                    <blockquote>
                        <p>
                            <a href="#designtop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="design03" name="design03"></a>What is considered one page? A spread
                    of both sides or just one side?</strong><br />
                    The pagination of your photo book is similar to an ordinary book. Each page that
                    you flip is considered one page.</p>
                    <blockquote>
                        <p>
                            <a href="#designtop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="design04" name="design04"></a>How do I put my photos on the page?</strong><br />
                    Your photos will first appear as thumbnails at the bottom panel on Photo Book Editor.
                    To place them in your photo book, just drag and drop them on to your desired page
                    and position.</p>
                    <blockquote>
                        <p>
                            <a href="#designtop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="design05" name="design05"></a>How many photos can I put inside my
                    book?</strong><br />
                    As long as it is within the maximum page count and file size, you can place as many
                    photos as you like.</p>
                    <blockquote>
                        <p>
                            <a href="#designtop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="design06" name="design06"></a>How do I change the size of a photo
                    I’ve placed on a page?</strong><br />
                    Select the photo you wish to resize and drag any of its corners in or out accordingly
                    to reduce or increase the photo.</p>
                    <blockquote>
                        <p>
                            <a href="#designtop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="design07" name="design07"></a>How do I zoom in and out on a particular
                    portion of my photo?</strong><br />
                    Simply click on the Zoom In (Insert Magnifying tool with plus sign) or Zoom Out
                    (insert magnifying glass with minus sign) icons to adjust accordingly.</p>
                    <blockquote>
                        <p>
                            <a href="#designtop">
                                <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                    border="0" />
                                Back to top</a></p>
                    </blockquote>
                </li>
                <li><strong><a id="design08" name="design08"></a>How do I move unattractive portions
                    or backgrounds on my photo away?</strong></li>
            </ol>
        </ol>
        <blockquote>
            <ul>
                <li>Select your picture</li>
                <li>You will see four directional arrows in the middle. Depending on which part of the
                    photo you’d like to see more (or less of), drag your mouse over the left, right,
                    up or down arrows respectively.<a href="#designtop"><img alt="^" src="http://photobookmart.co.in/images/arrowup.gif"
                        width="11" height="10" border="0" />
                        Back to top</a></li>
            </ul>
        </blockquote>
        <ol>
            <li><strong><a id="design09" name="design09"></a>How do I improve picture brightness
                and vibrance?</strong><br />
                You can either click on the Perfectly Clear Image icon at the editing taskbar or
                right-click on the selected photo and then click on the Perfectly Clear Image option.To
                remove the enhancement, do the same process.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design10" name="design10"></a>How do I change my photos to a sepia
                or black and white colour tone?</strong><br />
                Right-click on the selected photo, select Filter and then click on your preference.
                Or you can also click on the B&amp;W Filter (insert icon) or Sepia Filter (insert
                icon) at the editing taskbar.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design11" name="design11"></a>What does the Fade command do?</strong><br />
                The Fade command is best used if you wish to make a photo less prominent. By selecting
                a higher Fade percentage, the lesser prominent your selected photo will be. Its
                effect is almost as if a white tinge was overlaid on the photo.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design12" name="design12"></a>I wish to add borders around my photos.
                How do I do it?</strong><br />
                Look for the Picture Borders option at the bottom panel where your photo thumbnails
                are displayed. A variety of borders will then be opened up for your selection. Select
                the border of your choice and then drag and drop the border thumbnail on to your
                photo.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design13" name="design13"></a>How do I remove the borders then?</strong><br />
                Easy! Right-click on the respective photo &gt; Edit &gt; Remove Border.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design14" name="design14"></a>Can I add a shadow behind my photos?</strong><br />
                Not a problem! Just make sure you’ve selected the photo to have a shadow, then click
                on the Add Drop Shadow icon (insert icon). You can also find this command when you
                right-click on the selected photo!To remove, repeat the same process – except now,
                look out for Remove Drop Shadow instead.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design15" name="design15"></a>Can I change the orientation of my
                photos or make them slanted?</strong><br />
                Sure. Here’s what you need to do:</p>
                <ul>
                    <li>Right-click on the respective photo thumbnail</li>
                    <li>Select ‘Rotate’ from the sub-menu that pops up. Rotate the photo to your desired
                        position.<br />
                        <blockquote>
                            <p>
                                <a href="#designtop">
                                    <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                        border="0" />
                                    Back to top</a></p>
                        </blockquote>
                    </li>
                </ul>
            </li>
            <li><strong><a id="design16" name="design16"></a>How do I change the position of my
                photos / captions?</strong><br />
                It’s as easy as dragging them around to your desired position. Just be sure to select
                the item first.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design17" name="design17"></a>I don’t like one of the photos I’ve
                placed on to my photo book. How do I remove it?</strong><br />
                Simply right-click on the thumbnail and select ‘Remove Image ’or ‘Delete’ on the
                sub-menu that appears.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design18" name="design18"></a>I don’t remember which photos I’ve
                used or placed on to my photo book. How do I avoid accidentally repeating the same
                photo?</strong><br />
                No worries, just click on the v icon called Hide Used Images at the left side of
                the panel that’s holding your photo thumbnails. This will temporarily hide the images
                you’ve already placed on your photo book.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design19" name="design19"></a>How do I remove all the photos displayed
                on the thumbnail panel?</strong><br />
                At the left-hand side of this panel, look for the X sign (insert icon) called Clear
                Image Browser. Once you click on this, every thumbnail will be removed, including
                the photos you’ve placed on to your photo book. So be sure to only click on this
                icon when you are certain that you want to remove the photos.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design20" name="design20"></a>How do I include text into pages of
                my book?</strong><br />
                Click Insert &gt; New Caption or right-click on the page and select Insert &gt;
                New Caption. A text box will then appear on the page. You can double-click it to
                start typing or editing your text.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design21" name="design21"></a>How do I adjust the font type, size,
                colour etc?</strong><br />
                Double-click the respective text box and change font type, size, colour etc accordingly
                using the Editing task bar.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design22" name="design22"></a>How come I only see a portion of my
                text after changing the font size?</strong><br />
                You have probably selected a font size larger than the available text box space.
                You can either resize your fonts or the text box itself by dragging the small squares
                at the corners of the text box, in and out.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design23" name="design23"></a>What if I made a mistake whilst designing
                my photo book?</strong><br />
                No worries! Just press Ctrl and Z at the same time. This command will undo the mistake
                made. For Mac users, press Command and Z simultaneously.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design24" name="design24"></a>I’m not happy with the page arrangements
                in my book. How do I change it?</strong><br />
                Look for ‘Pages’, click on it and then select ‘Rearrange Pages’. You can then drag
                and drop the pages in the order of your liking.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design25" name="design25"></a>How do I add or change the page backgrounds?</strong><br />
                Just drag and drop till you’re satisfied with the outcome. Or if you prefer a plain
                background, drag and drop the background labelled as ‘None’.Once you drag and drop
                any background, it will always resize to fit proportionately to the page. You can
                change the background size by double-clicking it and dragging its corners accordingly.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design26" name="design26"></a>Is it possible to print the title of
                my album on the book’s spine?</strong><br />
                Because your photo book will be side-sewn by hand, printing on the book’s spine
                will affect the beauty and craftsmanship of this manual binding process. As such,
                printing your photo book’s title on the spine is not practiced by photobookmart.</p>
                <blockquote>
                    <p>
                        <a href="#designtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="design27" name="design27"></a>Can I save my photo book and finish
                designing it later?</strong><br />
                Of course! We wouldn’t want to rush your masterpiece. But remember to save your
                file first before you close the software! When you’re ready to work on your photo
                book again, simply re-open the program and then open your project from there.</li>
        </ol>
    </div>
    <div class="tab">
        Shipping</div>
    <div class="tab_content">
        <p>
            Questions:</p>
        <ol>
            <li><a href="#shipping01">How long do you take to ship my order?</a></li>
            <li><a href="#shipping02">What is your mode of shipping?</a></li>
            <li><a href="#shipping03">Are the prices that you offer inclusive of shipping cost?</a></li>
        </ol>
        <p>
            <strong>Answers:</strong></p>
        <ol>
            <li><strong><a id="shipping01" name="shipping01"></a>How long do you take to ship my
                order?</strong><br />
                We will ship your order within 14 working days, additional 4 working days will be
                required during peak season.</p>
                <blockquote>
                    <p>
                        <a href="#shippingtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="shipping02" name="shipping02"></a>What is your mode of shipping?</strong><br />
                All orders are shipped via courier company.</p>
                <blockquote>
                    <p>
                        <a href="#shippingtop">
                            <img alt="^" src="http://photobookmart.co.in/images/arrowup.gif" width="11" height="10"
                                border="0" />
                            Back to top</a></p>
                </blockquote>
            </li>
            <li><strong><a id="shipping03" name="shipping03"></a>Are the prices that you offer inclusive
                of shipping cost?</strong><br />
                No, the prices are exclusive of shipping.</li>
        </ol>
    </div>
</div>