@model Language
@{  
    if (Model.Id > 0)
    {
        ViewBag.Title = "Edit Language";
    }
    else
    {
        ViewBag.Title = "Add Language";
    }
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery("#UserForm").submit(function () {
            // validate
            if (jQuery("#LanguageName").val() == "") {
                alert("Please enter Language name");
                jQuery("#LanguageName").focus();
                return false;
            }
            if (jQuery("#LanguageCode").val() == "") {
                alert("Please enter Language code");
                jQuery("#LanguageCode").focus();
                return false;
            }


            show_loading();

            // and post
            jQuery.post(jQuery(this).attr("action"), jQuery("#UserForm").serialize(), function (returnObj) {

                if (returnObj.Status == "success") {
                    if (returnObj.Message != null) {
                        notify_success("Success", returnObj.Message);
                        $("form input:text").val('');
                        $("form input:password").val('');
                        $("form textarea").val('');
                    }
                    else if (returnObj.RedirectUrl != null) {
                        window.location.href = returnObj.RedirectUrl;
                    }
                } else {
                    $.pnotify({
                        title: 'Error',
                        text: returnObj.Message,
                        type: 'error',
                        opacity: .8
                    });
                }

                hide_loading();
            });
            return false;
        });
    });
</script>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>@ViewBag.Title</span>
    </div>
    <div class="mws-panel-body no-padding">
        @using (Html.BeginForm("Update", "Language", FormMethod.Post, new { enctype = "multipart/form-data", @id = "UserForm", @class = "mws-form" }))
        {
            @Html.HiddenFor(m => m.Id);
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">
                        Name</label>
                    <div class="mws-form-item">
                        @Html.TextBoxFor(model => Model.LanguageName, new { @class="large" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">
                        Language code</label>
                    <div class="mws-form-item">
                        @Html.TextBoxFor(model => Model.LanguageCode, new { @class="large" })
                    </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">
                        Text Direction</label>
                    <div class="mws-form-item">
                        <select name="TextDirection" class="large">
                            <option value=0 @if (Model.TextDirection==0){ <text> selected</text>}>Left to Right</option>
                            <option value=1 @if (Model.TextDirection==1){ <text> selected</text>}>Right to Left</option>
                        </select>
                    </div>
                </div>
                
                <div class="mws-form-row">
                    <label class="mws-form-label">
                        Status</label>
                    <div class="mws-form-item">
                    <input class="ibutton" name="Status" value="true" type="checkbox" data-label-on="Enable" data-label-off="Disable" @if (Model.Status){<text>checked="checked"</text>}>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" value="Submit" class="btn btn-danger">
                <input type="reset" value="Reset" class="btn ">
            </div>
        }
    </div>
</div>