@model ABUserAuth
@{  
    ViewBag.Title = "Update Password";
}
<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery("#UserForm").submit(function () {
            // validate
            if (jQuery("#LanguageName").val() == "") {
                alert("Please enter Language name");
                jQuery("#LanguageName").focus();
                return false;
            }

            show_loading();

            // and post
            jQuery.post(jQuery(this).attr("action"), jQuery("#UserForm").serialize(), function (returnObj) {

                if (returnObj.Status == "success") {
                    if (returnObj.Message != null) {
                        notify_success("Success", returnObj.Message);
                    }
                    if (returnObj.RedirectUrl != null) {
                        window.location.href = returnObj.RedirectUrl;
                    }
                } else {
                    $.pnotify({
                        title: 'Error',
                        text: returnObj.Message,
                        type: 'error',
                        opacity: .8
                    });
                }

                hide_loading();
            });
            return false;
        });
    });
</script>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>@ViewBag.Title</span>
    </div>
    <div class="mws-panel-body no-padding">
        @using (Html.BeginForm("ChangePassword_Update", "UserManagement", FormMethod.Post, new { enctype = "multipart/form-data", @id = "UserForm", @class = "mws-form" }))
        {
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">
                        Current Password</label>
                    <div class="mws-form-item">
                        <input type="password" name="CurrentPassword" class="large" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">
                        New password</label>
                    <div class="mws-form-item">
                        <input type="password" name="NewPassword" class="large" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">
                        New Password (x2)</label>
                    <div class="mws-form-item">
                        <input type="password" name="NewPassword2" class="large" />
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" value="Submit" class="btn btn-danger">
                <input type="reset" value="Reset" class="btn ">
            </div>
        }
    </div>
</div>
