@{
    // TODO: Code behind
    RenderPartialViewToString("_CalculatorMessage", model);
}
@model CalculatorModel

<h2>Name: @Model.Name</h2>
<h2>Email: @Model.Email</h2>
<h2>Phone: @Model.Phone</h2>
<h2>Address: @Model.Addr</h2>
