<div>
    <ul class="accordion" id="accordion">
        <li class="bg1" style="width: 200px; ">
            <div class="heading" style="display: none; ">Hướng dẫn sử dụng</div>
            <div class="bgDescription" style="display: block; "></div>
            <div class="description" style="display: block; ">
                <h2>Hướng dẫn</h2>
                <p>Hướng dẫn sử dụng hệ thống thông qua các tài liệu online và offline. Giúp các cán bộ có thể nắm bắt và thực hiện dễ dàng.</p>
                <a href="@Url.Action("TopicDetail", "Topic", new { id = "quick_tutorial"})">Chi tiết →</a>
            </div>
        </li>
        <li class="bg2" style="width: 115px; overflow-x: hidden; overflow-y: hidden; ">
            <div class="heading" style="display: block; ">Chi trả trợ cấp</div>
            <div class="bgDescription" style="display: none; "></div>
            <div class="description" style="display: none; ">
                <h2>Chi trả trợ cấp</h2>
                <p>Phân hệ này giúp cho lập danh sách chi trả, quản lý việc chi trả trợ cấp cho từng đơn vị cấp xã/phường một cách chính xác, nhanh chóng và thuận tiện</p>
                <a href="/Administration">Xem Chi tiết →</a>
            </div>
        </li>
        <li class="bg3" style="width: 115px; overflow-x: hidden; overflow-y: hidden; ">
            <div class="heading" style="display: block; ">Quản lý đối tượng</div>
            <div class="bgDescription" style="display: none; "></div>
            <div class="description" style="display: none; ">
                <h2>Quản lý đối tượng</h2>
                <p>Giúp quản lý các thông tin về đối tượng hưởng trợ cấp tại địa bàn nhằm quản lý chi tiết đến từng đối tượng trong từng địa bàn thôn, xã..</p>
                <a href="/Administration/WebsiteProduct">Chi tiết →</a>
            </div>
        </li>
        <li class="bg4 bleft" style="width: 115px; overflow-x: hidden; overflow-y: hidden; ">
            <div class="heading" style="display: block; ">Giới thiệu hệ thống</div>
            <div class="bgDescription" style="display: none; "></div>
            <div class="description" style="display: none; ">
                <h2>Giới thiệu</h2>
                <p>Hệ thống phần mềm cập nhật, xử lý, tổng hợp trực tuyến thông tin dữ liệu, phục vụ các yêu cầu quản lý và hoạch định chính sách về quản lý đối tượng BTXH trên địa bàn tỉnh</p>
                <a href="@Url.Action("TopicDetail", "Topic", new { id = "about_us" })"></a>
            </div>
        </li>
    </ul>
</div>
