@* Predefine tokens for mailling list template *@
 @* Website Tag *@
<div class="mws-form-row">
    <div class="mws-form-item">
        <span class="label" tag="#website_domain" rel="tooltip" title="Return current domain name.">
            Domain</span> <span class="label" tag="#website_name" rel="tooltip" title="Return website name.">
                Site name</span> <span class="label" tag="#website_admin_email" rel="tooltip" title="Return email of site administrator.">
                    Site Admin Email</span> <span class="label" tag="#website_info_email" rel="tooltip"
                        title="Return email of website.">Site Email</span>
                        <span class="label" tag="#current_date_time" rel="tooltip"
                        title="Return Current Date Time in Long style format.">Current Date Time</span>
                        <span class="label" tag="#user_ipaddress" rel="tooltip"
                        title="Return current user IP Address.">IP Address</span>
                        
                        <span class="label" tag="#website_name" rel="tooltip"
                        title="Name of current website">Website Name</span>
    </div>
</div>
@* User Tag *@
<div class="mws-form-row">
    <div class="mws-form-item">
        <span class="label" tag="#user_name" rel="tooltip" title="Current user full name (in loop).">
            User Full Name</span> <span class="label" tag="#user_username" rel="tooltip" title="Current user username (in loop).">
                User Username</span>
    </div>
</div>
@* Custom Tag *@
<div class="mws-form-row">
    <div class="mws-form-item">
        <span class="label" tag="#custom_data_01" rel="tooltip" title="Custom data">Custom Data 01</span>
        <span class="label" tag="#custom_data_02" rel="tooltip" title="Custom data">Custom Data 02</span>
        <span class="label" tag="#custom_data_03" rel="tooltip" title="Custom data">Custom Data 03</span>
        <span class="label" tag="#custom_data_04" rel="tooltip" title="Custom data">Custom Data 04</span>
        <span class="label" tag="#custom_data_05" rel="tooltip" title="Custom data">Custom Data 05</span>
        <span class="label" tag="#link_01" rel="tooltip" title="Link 01">Link 01</span>
        <span class="label" tag="#link_01" rel="tooltip" title="Link 02">Link 02</span>
        <span class="label" tag="#link_01" rel="tooltip" title="Link 03">Link 03</span>
        
    </div>
</div>
